*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main_div {
    position: relative;
    
}



.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(17, 17, 17);
    font-size: large;
}

.video-wrapper video {
   
    max-height:40%;
    max-width: 80%;
    padding-left: 20%;
   
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    padding: 1rem;
    display: block;
}
.navbar img {
    display: block;
    max-width: 300px;
    max-height: 120px;
}
.navbar-links li:hover {
    background-color: rgb(243, 240, 53);
}

.toggle-button  {

    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #dfe22a;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*performance cmds*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}